.titulo h1 {
    background-color: rgb(255, 116, 9);
    margin: auto;
    padding: 6px;
    text-align: center;
}

article {
    padding-top: 3rem;
    max-width: 140rem;
    margin: auto;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.section h2 {
    flex-direction: column;
    flex-basis: 20%;
}

